.table {
	width: 90%;
	border-top: 1px solid #e5eff8;
	border-right: 1px solid #e5eff8;
	margin: 1em auto;
	border-collapse: collapse;
}

.table td {
	color: #678197;
	border-bottom: 1px solid #e5eff8;
	border-left: 1px solid #e5eff8;
	padding: .3em 1em;
	text-align: center;
}



.nuevo{
	padding-left:60px;
}